$text-color:#fffc;

:root[class=dark]{
	color-scheme:dark;
	color: $text-color;

	main {
		pre{
			background-color: #151515;
		}
	}

	blockquote {
		background-color: #151515;
		border-left: 10px solid #888;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		quotes: "\201C""\201D""\2018""\2019";

		&:before {
			color: #888;
			content: open-quote;
			font-size: 4em;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.4em;
		}

		& p {
			display: inline;
		}
	}



}
