@import "./svg.scss";
@import "./theme/index.scss";
@import "./font.scss";

:root{
	display:flex;
	align-items:center;
	justify-content:center;
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0 auto;
	padding: 0px;
	position: relative;
	height: 100vh;
	transition:all ease-out 400ms;
}

body {
	display:flex;
	flex-flow:column nowrap;
	align-items: stretch;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	width: 80vw;
	height: 100vh;
	box-sizing: border-box;
	transition:all ease-out 400ms;
	overflow:hidden;
}

::-webkit-scrollbar {

}

::-webkit-scrollbar-thumb{
	background-clip: content-box;
	border: 3px solid transparent;
	border-radius: 9999px;
}

ul,ol {
	// list-style: outside;
	list-style-type: decimal;
	// margin: 0px;
	// padding: 0px;
}

h1,h2,h3,h4,h5,h6{
	padding: 0px;
	margin: 0px;
	transition:all ease-out 400ms;
}

img {
	max-width: 100%;
}

table {
	padding: 1rem;
	margin: 1rem;
	table-layout: auto;
	thead{

	}

	tbody>tr:nth-of-type(2n){
	}
}

.tag{
	display:flex;
	flex-flow:row nowrap;
	align-items: center;
	font-size: 0.5em;
	width: max-content;

	&>span {
		padding: 0.3em 0.5em;
		border-radius: 9999px;
		display: flex;
		align-items: center;
		line-height: initial;

		&::before {
			content: "";
			display: flex;
			flex: none;
			width: 1em;
			height: 1em;

			background-image: url($bg-image-1);
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}

header {
	display:flex;
	flex:0;
	flex-flow:column nowrap;
	align-items: stretch;
	border-width:0 2px 2px 2px;
	padding-top: 1rem;
	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		padding: 0.5rem;
		transition:margin-top ease 250ms , visibility ease 250ms ;
		&.hidden{
			visibility: hidden;
			margin-top: -7rem;
		}
	}
	nav{
		display: flex;
		border: 2px solid ;
		border-top: 0;
		padding: .5rem 2rem 0;
		flex-flow: row nowrap;
		overflow: auto hidden;
		transition:border-color ease-out 400ms;
		.nav-node {
			display: flex;
			flex-flow:row nowrap;
			white-space: nowrap;
			align-items: center;
			border: 2px solid ;
			border-bottom: 0;
			border-radius: 1rem 1rem 0 0;
			margin: 0 .3rem;
			padding: .2rem .5rem;
			cursor:pointer;
			user-select: none;
			&.active {
				transition:all ease-out 400ms;
			}
		}

		&>:nth-child(n){
			transition:border ease-out 400ms;
		}
	}

}

main {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden auto;
	scroll-behavior: smooth;
	box-sizing: border-box;
	padding: 0px 1rem;
	overscroll-behavior: none;
	flex:1 1;
	position:relative;

	.outline-2{
		display: none;

		&.active{
			display: block;
		}
	}

	.tag {
		display:flex;
		flex-flow:row nowrap;
		font-size: 0.5em;
		width: max-content;
		margin-top: 0.1em;
		span{
			padding: 0.3em 0.5em;
			border-radius: 9999px;
		}

	}

	code:not(table code){
		font-family: sans-serif;
		font-size: 1rem;
		padding: 0 0.5rem;
		white-space: pre;
	}

	.org-src-container {
		position: relative;
		overflow: hidden;
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-radius:1rem;
		pre {
			font-family:"Noto Sans Mono CJK",monospace;
			border:1px solid ;
			border-radius:1rem;
			transition:all ease-out 400ms;
			padding-left: 1rem;
			padding-top: 3rem;
			padding-bottom: 1rem;
			overflow: auto;
			margin: 0px;

			.copy-block{
				visibility: hidden;
				position: absolute;
				font-size: 1rem;
				font-family: "Google Noto Color Emoji";
				right: 1rem;
				bottom: 1rem;

				&::before{
					content:"📋";
				}

				&.copyed{
					pointer-events: none;
					&::before{
						content:"复制成功✔️";
						color: green;
					}
				}
			}

			&:hover .copy-block {
				visibility: visible;
				position: absolute;
				cursor: pointer;
			}

			&.example{
				overflow: auto;
			}

			&.example::before {
				content:"example";
				display: block;
				position: absolute;
				top:1rem;
				right: 1rem;
			}
		}
	}


	a {
		text-decoration: underline;
		padding: 0 0.5rem;
	}

	// div>p{
	// 	padding: 0.5rem 2rem;
	// }

	// div ul,div ol {
	// 	display:flex;
	// 	flex-flow:column wrap;

	// 	>li {
	// 		margin: 0;
	// 		padding: 0rem 2rem;
	// 		position: relative;
	// 		line-height: 1.5rem;
	// 		&>p:nth-child(1){
	// 			display:inline;
	// 			margin-top: 0;
	// 		}
	// 	}
	// }

	ul>li{
		&::marker{
			content:"● ";
		}

		&>p:nth-child(1){
			margin: 0;
		}
	}

	ol>li {
		/* counter-increment: list-item; */
		&::before {
			// display:flex;
			// justify-content: center;
			// align-items: center;
			// content: counter(list-item);
			// border-radius: 9999px;
			// background-size: contain;
			// background-repeat:no-repeat ;
			// text-align: center;
			// width: 1.4rem;
			// height: 1.4rem;
			// font-size:0.8rem;
			// font-weight: bold;
			// position:absolute;
			// margin-left: -1.8rem;
		}
	}

	@for $index from 1 through 6{
		h#{$index}{
			display: block;
			position: relative;
			top: 0;
			text-overflow: ellipsis;
			overflow: hidden;

			font-weight: 400 ;
			border:2px solid;
			border-radius:1rem;
			padding: 0.5rem 0rem;
			margin: 1rem 0;

			@if $index == 1 {
				font-size: 3rem;
			} @else if $index == 2 {
				font-size: 2.5rem;
			} @else if $index == 3 {
				font-size: 2rem;
			} @else if $index == 4{
				font-size: 1.5rem;
			}

			&::before
			{
				content:"";
				display:inline-block;
				flex: 0 0 auto;
				width: 1em;
				height: 1em;
				align-items:center;
				margin-right: .5rem;
				margin-bottom:-0.3rem;
				background-image: url($bg-image-2);
				background-size: contain;
				background-repeat: no-repeat;

			}

			&>span[class^=section-number]+span {
				padding: 0 0.5rem;
				margin-bottom: -0.2rem;
			}

		}
	}

}

#table-of-contents {
	display: flex;
	flex:0.3 1;
	flex-direction: column;
	padding: 0.5rem;
	padding-top: 0;
	box-sizing: border-box;
	overflow: hidden auto;
	position: relative;

	#text-table-of-contents{
		&.hidden{
			display: none;
		}
	}

	#text-table-of-contents>ul>li{
		display: none;
		&.active {
			display: list-item;
			a{
				display:block;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}

	a:link,a:visited,a:hover,a:active{
		text-decoration: none;
	}

	h2 {
		text-align: center;
		font-size:1.5rem;
		font-weight:700;
		border-bottom:2px solid ;
		padding:1rem;
		margin-top: 0;
		margin-bottom: 1rem;
		transition:all ease-out 400ms;
	}

	#text-table-of-contents{
		flex:1;
		border-bottom:2px solid ;
		& ul,& ol {
			list-style: inside;
			list-style-type: none;
			margin-left: 0;
			padding-left: 0;
			ul,ol {
				margin-left: 1rem;
				a {
					display: flex;
					align-items: center;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					&>span:nth-child(1):not(.tag) {
						margin: 0 0.1rem;
						margin-bottom: -0.2rem;
					}

					.tag {
						display:none;
						flex-flow:row nowrap;
						align-items: center;
						margin-left: auto;
						margin-top: 0;
						transform: scale(0.8);
						span {
							display:flex;
							flex-flow:row nowrap;
							margin: 0px;
							padding: 0.1rem;

							/* 最多显示三个标签 */
							&:nth-child(n+4){
								display: none;
							}
						}
					}
				}
			}
		}
	}

}

#content {
	display:flex;
	flex: 1;
	top:0;
	height: 10vw;
	flex-flow: row-reverse nowrap;
	overflow: hidden;
	position: relative;
	&>p{
		display: none;
	}


}

blockquote {
	border-left: 10px solid ;
	margin: 1.5em 10px;
	padding: 0.5em 2rem;
	quotes: "\201C""\201D";
	// quotes: "\201C""\201D""\2018""\2019";
	position: relative;

	&::before {
		position: absolute;
		left:0;
		top:-0.2em;
		font-family: monospace;
		content: open-quote;
		font-size: 6em;
	}

}

#postamble{
	margin-top: auto;
	.validation{
		display:none;
	}
}

#footnotes{
	position: fixed;
	background-color: #fff;
	transform: translateX(-150%);
	top:0;
	left:0;
	height: 100%;
	width: 20vw;
	overflow: hidden auto;
	transition: transform 450ms ease;
	padding: 1rem;

	&.show{
		transform: translateX(0);
	}

	h2 {
		padding-bottom: 1rem;
	}
}


.top-block{
	height: 2rem;
	display:flex;
	position: absolute;
	top: 1rem;
	left: 1rem;
	&>span{
		width: 1rem;
		height: 1rem;
		border-radius: 9999px;
		margin-right: 0.5rem;
		&:nth-of-type(1){
			background-color: #ff5f56;
		}
		&:nth-of-type(2){
			background-color: #ffbd2e;
		}
		&:nth-of-type(3){
			background-color: #27c93f;
		}
	}
}

@import "./media.scss";
