@import "./light.scss";
@import "./svg.scss";

$bd-color: #e5e7eb;
$nav-bg-color: red;
$nav-node-bg-color: blue;


:root,body{
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

body {
	width: 90vw;
	overflow: hidden auto;
}

::-webkit-scrollbar {
	background-color: transparent;
}
::-webkit-scrollbar-track{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	background-clip: content-box;
	background-color: gray;
	border: 3px solid transparent;
	border-radius: 9999px;
}

ul,ol {
	list-style: inside;
	list-style-type: none;
	margin: 0px;
	padding: 0px;

	li {
		p {
			display: inline-block;
			margin: 0px;
			padding: 0px;
		}
	}
}

h1,h2,h3,h4,h5,h6{
	padding: 0px;
	margin: 0px;
}

table {
	padding: 1rem;
	margin: 1rem;
	table-layout: auto;
	thead{
		background-color: rgb(226 232 240);
	}

	tbody>tr:nth-of-type(2n){
		background-color: rgb(241 245 249);
	}
}

.tag{
	display: flex;
	align-items: center;
	overflow: hidden auto;
	background-color: transparent;
	&>span {
		display: flex;
		align-items: center;

		&::before {
			content: "";
			display: flex;
			flex: none;
			width: 1rem;
			height: 1rem;

			background-image: url($bg-image-1);
			background-size: contain;
			background-color: transparent;
			background-repeat: no-repeat;
		}
	}
}

header {
	margin: 0 auto;
	padding-top: 2rem;

	.title {
		display: block;
		font-size: 3rem;
		padding: 1rem;
	}
	nav{
		display: flex;
		border-bottom: 1px solid gray;
		padding: .5rem 2rem 0;
		flex-flow: row nowrap;
		.nav-node {
			display: flex;
			align-items: center;
			border: 1px solid #000;
			border-bottom: 0;
			border-radius: 1rem 1rem 0 0;
			background-color: transparent;
			margin: 0 .5rem;
			padding: .5rem .5rem;
			cursor:pointer;
			user-select: none;
			&.active{
				background-color: #000;
				color: #fff;
			}
		}
	}
}

main {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden auto;
	scroll-behavior: smooth;
	top:0;
	flex:1;
	box-sizing: border-box;
	padding: 0px 2rem;

	.outline-2{
		display: none;

		&.active{
			display: block;
		}
	}

	code:not(table code){
		font-size: 1rem;
		color: rgb(239 68 68);
		padding: 0 0.5rem;
		white-space: pre;
	}

	pre {
		padding: 1rem;
		font-family:"Noto Sans SC",monospace;
		border:1px solid $bd-color;
		border-radius:1rem;
		box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
		.copy-block{
			visibility: hidden;
			position: absolute;
			font-size: 1rem;
			font-family: "Google Noto Color Emoji";
			right: .5rem;
			bottom: .5rem;

			&::before{
				content:"📋";
			}

			&.copyed{
				pointer-events: none;
				&::before{
					content:"复制成功✔️";
					color: green;
				}
			}
		}

		&:hover .copy-block {
			visibility: visible;
			position: absolute;
			right: 0;
			right: .5rem;
			bottom: .5rem;
			cursor: pointer;
		}

		&.example{
			position: relative;
			overflow: auto;
		}
		&.example::before {
			content:"example";
			display: none;
			position: absolute;
			top: 8px;
			right: 12px;
			padding: 3px;
			color: #555;
			background-color: #f2f2f299;
		}
		&.example:hover::before {
			display: block;
		}
	}

	a {
		color: blue;
		text-decoration: underline;
	}

	div>ul,div>ol {
		display:flex;
		flex-flow:column wrap;
		margin-left: 0;
		padding-left: 0;

		ul,ol{
			margin-left: 2rem;
		}

		li {
			margin: .2rem 0;
			padding: .2rem .2rem;
		}
	}

	ul>li::marker{
		content:"👉 ";
	}

	ol>li {
		counter-increment: list-item;
		&::before {
			display:inline-block;
			content: counter(list-item);
			margin-right: 0.4rem;
			background-image: url($bg-image-3);
			background-size: contain;
			background-repeat:no-repeat ;
			text-align: center;
			line-height:1.8rem;
			width: 1.8rem;
			height: 1.8rem;
			font-size:0.8rem;
			font-weight: bold;
			transform: scale(1.2);
		}
	}

	@for $index from 1 through 6{
		h#{$index}{
			display: flex;
			align-items:center;
			position: sticky;
			top: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			background-color: rgb(248 250 252);
			font-family:'ZCOOL KuaiLe', 'Noto Sans SC', sans-serif;
			font-size: 2rem;
			font-weight: 400 ;
			padding: 0.5rem;
			margin: 1rem 0;
			padding-right: 1rem;
			box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
			z-index:10;

			&:hover {
				white-space: normal;
			}

			&::before,
			{
				content:"";
				display:flex;
				flex: 0 0 auto;
				width: 1em;
				height: 1em;
				align-items:center;
				margin-right: .5rem;
				background-color: transparent;
				background-image: url($bg-image-2);
				background-size: contain;
				background-repeat: no-repeat;
			}

			&>span[class^=section-number]+span {
				padding: 0 0.5rem;
				margin-bottom: -0.2rem;
			}

			.tag {
				display:flex;
				flex-flow:row nowrap;
				margin-left: auto;
				font-size: 1rem;
				span{
					&:nth-of-type(n+4){
						white-space:nowrap;
						text-indent: -9999px
					}
				}

			}
		}
	}

}

#table-of-contents {
	display: flex;
	flex:0.3;
	flex-direction: column;
	border-left: 1px solid $bd-color;
	padding: 1rem;
	padding-top: 0;
	transform: translateX(0%);
	transition: all ease 150ms;
	box-sizing: border-box;
	overflow: hidden auto;

	#text-table-of-contents>ul>li{
		display: none;
		&.active {
			display: list-item;
		}
	}

	a:link,a:visited,a:hover,a:active{
		text-decoration: none;
		color: #000;
	}

	/* &:hover{ */
	/* 	flex:1; */
	/* } */

	h2 {
		text-align: center;
		font-size:1.5rem;
		font-weight:700;
		border-bottom:2px solid $bd-color;
		padding:1rem;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	& ul,& ol{
		list-style: inside;
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		ul,ol {
			margin-left: 2rem;
			a {
				display: flex;
				align-items: center;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				&>span:nth-child(1):not(.tag) {
					margin: 0 0.2rem;
					margin-bottom: -0.2rem;
				}

				.tag {
					display:flex;
					flex-flow:row nowrap;
					margin-left: auto;
					transform: scale(0.8);
					background-color: transparent;
					span {
						display:flex;
						flex-flow:row nowrap;
						margin: 0px;
						padding: 0.1rem;

						/* 最多显示三个标签 */
						&:nth-child(n+4){
							display: none;
						}
					}
				}
			}
		}
	}
}

#content {
	display:flex;
	position: sticky;
	height: 100vh;
	top:0;
	flex-flow: row-reverse nowrap;
	overflow: hidden;

	&>p{
		display: none;
	}
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}




