@import './template.scss';
html[theme=dark]{
	color-scheme:dark;

	$brand-hue: 200;
	$brand-saturation: 100%;
	$brand-lightness: 50%;
	$brand-dark: hsl($brand-hue calc($brand-saturation / 2) calc($brand-lightness / 1.5));
	$text-surface1-dark: hsl($brand-hue 15% 85%);
	$text-surface2-dark: hsl($brand-hue 5% 65%);
	$bg-surface1-dark: hsl($brand-hue 10% 10%);
	$bg-surface2-dark: hsl($brand-hue 10% 15%);
	$bg-surface3-dark: hsl($brand-hue 5%  20%);
	$bg-surface4-dark: hsl($brand-hue 5% 25%);
	$surface-shadow-dark: $brand-hue 50% 3%;
	$inset-surface-shadow-dark: $brand-hue 0% 15%;
	$shadow-strength-dark: 0.08;

	$bd-color-dark: hsl($brand-hue 10% #{lightness($bg-surface1-dark)+10%} / 0.10);

	@include theme-template(
		$brand: $brand-dark,
		$text-surface1: $text-surface1-dark,
		$text-surface2: $text-surface2-dark,
		$bg-surface1: $bg-surface1-dark,
		$bg-surface2: $bg-surface2-dark,
		$bg-surface3: $bg-surface3-dark,
		$bg-surface4: $bg-surface4-dark,
		$surface-shadow: $surface-shadow-dark,
		$inset-surface-shadow: $inset-surface-shadow-dark,
		$shadow-strength: $shadow-strength-dark,

		$bd-color:$bd-color-dark,
	);

	main {
		ol>li{
			&::before{
				background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
			}
		}
	}
}
